<div class="mainBox">
  <header id="topHeader">
    <h2><span class="firstPart hide4Print">Curriculum</span><span class="secondPart hide4Print">Vitae</span></h2>
    <h2 id="smallBox" class="hide4Print" i18n>CV</h2>
    <nav id="searchBox" class="pull-right">
      <ul>
        <li>
          <a routerLink="/home" i18n>Forside</a>
        </li>
        <li>
          <a routerLink="/about" i18n>Om mig</a>
        </li>
        <li>
          <a routerLink="/cv" i18n>CV</a>
        </li>
        <li>
          <a routerLink="/projects" i18n>Projekter</a>
        </li>
        <li>
          <a routerLink="/contact"  i18n>Kontakt</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <div class="cvBox" style="margin-top: 50px;">
         <div class="row">
              <div class="col-sm-3">
                   <img class="img-responsive" src="assets/images/Me.png" alt="Henrik Beske" title="Henrik Beske"/>
               </div>
          <div class="col-sm-9">
                <h2 class="cvSuperHeader">Henrik Beske</h2>
                <h3 class="cvSecondaryHeader" i18n>Softwareudvikler</h3>
                 <h4 class="cvTertiaryHeader">Nordjylland, Danmark | Software</h4>
                 <table>
                      <tr *ngIf="cvStuff?.experiences?.length > 0">
                           <td class="cvLabel" i18n>Nuværende</td>
                           <td class="cvPar">{{cvStuff.experiences[0].place}}</td>
                      </tr>
                      <tr  *ngIf="cvStuff?.experiences?.length > 1">
                           <td class="cvLabel" i18n>Forrige</td>
                           <td class="cvPar">{{cvStuff.experiences[1].place}}</td>
                      </tr>
                      <tr *ngIf="cvStuff?.experiences?.length > 0">
                           <td class="cvLabel" i18n>Uddannelse</td>
                           <td class="cvPar">
                             <span *ngFor="let education of cvStuff?.educations; let i = index">{{education?.name}}
                              <ng-container *ngIf="i !== cvStuff?.educations.length -1">, </ng-container>
                            </span>
                          </td>
                      </tr>
                 </table>

          </div>
         </div>
    </div>
    <div class="cvBox">

    <h3 class="cvSectionHeading" i18n>Kort Beskrivelse</h3>
    <p class="cvPar">
      Jeg er en kompetent softwareudvikler med en præference i retning af webudvikling samt udvikling til mobile enheder. Endvidere har jeg erfaring fra flere andre områder - såsom desktop applikationsudvikling, og udvikling til indlejrede enheder.
      <br/><br/>
      Desuden er jeg af den opfattelse, at jeg er en innovativ person med mange idéer. Jeg er en teknisk kompetent, dedikeret person, som bliver ved med at arbejde indtil arbejdet er gjort. Jeg arbejder fint både i grupper og individuelt. Kort sagt er jeg en type person, der ser muligheder fremfor barrierer foran mig.</p>
    </div>
    <div class="cvBox" *ngIf="cvStuff?.experiences">
      <h3 class="cvSectionHeading" i18n>Erfaring</h3>
      <article *ngFor="let experience of cvStuff.experiences; let i = index" class="cvArticle linkItem">
           <img class="pull-right" style="height: 60px;" [src]="experience?.imageUrl" [alt]="experience?.name" [title]="experience?.name" />
           <h4 class="cvArticleHeading">{{experience?.place}}</h4>
           <h5 class="cvArticleSubHeading">{{experience?.name}}</h5>
           <h6 class="cvPar cvTime">{{experience?.from | date : 'yyyy'}}<ng-container *ngIf="checkDate(experience?.from, experience?.to)">-{{!futureCheck(experience?.to) ? 'pt.' : (experience?.to | date : 'yyyy')}}</ng-container></h6>
           <p class="cvPar cvArticleText" [innerHTML]="experience?.description | html"></p>
           <div *ngIf="i !== cvStuff?.experiences?.length -1" class="divider"></div>
      </article>
    </div>
    <div class="cvBox" *ngIf="cvStuff?.qualifications">
      <h3 class="cvSectionHeading" i18n>Kompetencer</h3>
      <ul class="meritList">
        <li *ngFor="let qualification of cvStuff.qualifications">{{qualification?.name}}</li>
      </ul>
    </div>
    <div class="cvBox" *ngIf="cvStuff?.educations">
      <h3 class="cvSectionHeading" i18n>Uddannelse</h3>
      <article *ngFor="let education of cvStuff.educations; let i = index" class="cvArticle linkItem">
           <img class="pull-right" style="height: 60px;" [src]="education?.imageUrl" [alt]="education?.name" [title]="education?.name" />
           <h4 class="cvArticleHeading">{{education?.place}}</h4>
           <h5 class="cvArticleSubHeading">{{education?.name}}</h5>
           <p class="cvPar cvArticleText" [innerHTML]="education?.description | html"></p>
           <div *ngIf="i !== cvStuff?.educations?.length -1" class="divider"></div>
      </article>
    </div>
    <div class="cvBox" *ngIf="cvStuff?.certificates">
      <h3 class="cvSectionHeading" i18n>Certifikater</h3>
      <article *ngFor="let certificate of cvStuff.certificates; let i = index" class="cvArticle linkItem">
           <img class="pull-right" style="height: 60px;" [src]="certificate?.imageUrl" [alt]="certificate?.name" [title]="certificate?.name" />
           <h4 class="cvArticleHeading">{{certificate?.name}}</h4>
           <h5 class="cvArticleSubHeading">{{certificate?.place}}</h5>
           <p class="cvPar cvArticleText" [innerHTML]="certificate?.description | html"></p>
           <div *ngIf="i !== cvStuff?.certificates?.length -1" class="divider"></div>
      </article>
    </div>
    <div class="cvBox" *ngIf="cvStuff?.projects">
      <h3 class="cvSectionHeading" i18n>Projekter</h3>
      <article *ngFor="let project of cvStuff.projects; let i = index" class="cvArticle linkItem">
           <img class="pull-right" style="height: 60px;" [src]="project?.imageUrl" [alt]="project?.name" [title]="project?.name" />
           <h4 class="cvArticleHeading">{{project?.name}}</h4>
           <h5 class="cvArticleSubHeading">{{project?.place}}</h5>
           <h6 class="cvPar cvTime">{{project?.from | date : 'yyyy'}}<ng-container *ngIf="checkDate(project?.from, project?.to)">-{{!futureCheck(project?.to) ? 'pt.' : (project?.to | date : 'yyyy')}}</ng-container></h6>
           <p class="cvPar cvArticleText" [innerHTML]="project?.description | html"></p>
           <div *ngIf="i !== cvStuff?.projects?.length -1" class="divider"></div>
      </article>
    </div>
    <div class="cvBox" *ngIf="cvStuff?.languages">
      <h3 class="cvSectionHeading" i18n>Sprog</h3>
      <div class="row">
        <div  *ngFor="let language of cvStuff.languages" class="col-sm-6 col-md-4 linkItem">
              <h4 class="cvArticleHeading">{{language?.name}}</h4>
              <h5 class="cvArticleSubHeading">{{language?.description}}</h5>
        </div>
       </div>
      <!-- <ul class="meritList">
        <li *ngFor="let language of cvStuff.languages">{{language?.name}}</li>
      </ul> -->
    </div>
    <div class="cvBox" *ngIf="cvStuff?.interests">
      <h3 class="cvSectionHeading" i18n>Interesser</h3>
      <ul class="meritList">
        <li *ngFor="let interest of cvStuff.interests">{{interest?.name}}</li>
      </ul>
    </div>
  </div>
</div>
