<div class="mainBox">
  <header id="topHeader">
    <h2><span class="firstPart hide4Print">Curriculum</span><span class="secondPart hide4Print">Vitae</span></h2>
    <h2 id="smallBox" class="hide4Print">CV</h2>
  <!-- <div id="searchBox" class="pull-right hide4Print">
   <img id="printer" src="{{printer.Url}}" title="{{printer.Description}}" alt="{{printer.Description}}"/>
   <img id="flag" src="{{flags[0 + Language].Url}}" title="{{flags[0 + Language].Description}}" alt="{{flags[0 + Language].Description}}" ng-click="changeLanguage()" />
   <img id="searchBandit" src="{{spyglass.Url}}" title="{{spyglass.Description}}" alt="{{spyglass.Description}}" />
   <input id="searchField" class="input-md" type="text" ng-model="content" placeholder="Search"/>
  </div> -->
  </header>
  <div class="container">
    <div class="cvBox" style="margin-top: 50px;">
         <div class="row">
              <div class="col-sm-3">
                   <img class="img-responsive" src="assets/images/Me.png" alt="Henrik Beske" title="Henrik Beske"/>
               </div>
          <div class="col-sm-9">
                <h2 class="cvSuperHeader">Henrik Beske</h2>
                <h3 class="cvSecondaryHeader">Softwareudvikler</h3>
                 <h4 class="cvTertiaryHeader">Nordjylland, Danmark | Software</h4>
                 <table>
                      <tr>
                           <td class="cvLabel">Nuv&aelig;rende</td>
                           <td class="cvPar">OptikIT A/S</td>
                      </tr>
                      <tr>
                           <td class="cvLabel">Forrige</td>
                           <td class="cvPar">CodeCreator ApS</td>
                      </tr>
                      <tr>
                           <td class="cvLabel">Uddannelse</td>
                           <td class="cvPar">It-Teknolog (AK)</td>
                      </tr>
                 </table>

          </div>
         </div>
    </div>
    <div class="cvBox">
    <h3 class="cvSectionHeading">Kort Beskrivelse</h3>
    <p class="cvPar">
      Jeg er en kompetent softwareudvikler med en præference i retning af webudvikling samt udvikling til mobile enheder. Endvidere har jeg erfaring fra flere andre områder - såsom desktop applikationsudvikling, og udvikling til indlejrede enheder.
      <br/><br/>
      Desuden er jeg af den opfattelse, at jeg er en innovativ person med mange idéer. Jeg er en teknisk kompetent, dedikeret person, som bliver ved med at arbejde indtil arbejdet er gjort. Jeg arbejder fint både i grupper og individuelt. Kort sagt er jeg en type person, der ser muligheder fremfor barrierer foran mig.</p>
    </div>
    <div class="cvBox">
      <h3 class="cvSectionHeading">Erfaring</h3>
      <article class="cvArticle linkItem">
           <img class="pull-right" style="height: 60px;" src="assets/images/jobs/CodeCreator.png" alt="CodeCreator" title="CodeCreator" />
           <h4 class="cvArticleHeading">CodeCreator ApS</h4>
           <h5 class="cvArticleSubHeading">Udvikler</h5>
           <h6 class="cvPar cvTime">2016-2019</h6>
           <p class="cvPar cvArticleText">Udvikling af cloudbaseret forretningssystem til kunder indenfor arkitekt- og ingeniørbranchen samt udvikling for kunder på opgavebasis.</p>
           <div class="divider"></div>
      </article>
      </div>
     <!-- <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[2]}}</h3>
              <ul class="meritList">
                   <li ng-animate="'animate'" ng-repeat="i in cvText[0 + Language].Qualifications | filter: content | orderBy : 'Name' : direction" onclick="getQualificationDetails('{{i.Name}}','{{i.Description}}','{{i.Experience}}','{{i.Versions}}','{{i.Icon}}')">{{i.Name}}</li>
             </ul>
    </div>
  <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[3]}}</h3>
    <article ng-animate="'animate'" ng-repeat="e in cvText[0 + Language].Education | filter: content | orderBy : 'Ended' : true" class="cvArticle linkItem" onclick="getExperienceDetails('{{e.Place}}','{{e.Description}}','{{e.Details}}','{{e.Name}}','{{e.Started}}-{{e.Ended}}','{{e.Icon}}','{{stuff[0 + Language].Headings[15]}}','{{stuff[0 + Language].Headings[14]}}','{{stuff[0 + Language].Headings[8]}}','{{stuff[0 + Language].Headings[10]}}')">
         <img class="pull-right" style="height: 60px;" src="{{e.Icon}}" alt="{{e.Name}}" title="{{e.Name}}" />
     <h4 class="cvArticleHeading">{{e.Place}}</h4>
         <h5 class="cvArticleSubHeading">{{e.Name}}</h5>
         <h6 class="cvPar cvTime">{{e.Started}}-{{e.Ended}}</h6>
         <p class="cvPar cvArticleText">{{e.Description}}</p>
         <div class="divider"></div>
    </article>
    </div>
  <div class="cvBox">
    <h3 class="cvSectionHeading">Projekter</h3>
    <article ng-animate="'animate'" ng-repeat="e in cvText[0 + Language].Projects | filter: content | orderBy : 'Ended' : true" class="cvArticle linkItem" onclick="getExperienceDetails('{{e.Place}}','{{e.Description}}','{{e.Details}}','{{e.Name}}','{{e.Started}}-{{e.Ended}}','{{e.Icon}}','{{stuff[0 + Language].Headings[15]}}','{{stuff[0 + Language].Headings[14]}}','{{stuff[0 + Language].Headings[8]}}','{{stuff[0 + Language].Headings[10]}}')">
         <img class="pull-right" style="height: 60px;" src="{{e.Icon}}" alt="{{e.Name}}" title="{{e.Name}}" />
     <h4 class="cvArticleHeading">{{e.Place}}</h4>
         <h5 class="cvArticleSubHeading">{{e.Name}}</h5>
         <h6 class="cvPar cvTime">{{e.Started}}-{{e.Ended}}</h6>
         <p class="cvPar cvArticleText" ng-bind-html-unsafe="e.Description"></p>
         <div class="divider"></div>
    </article>
    </div> -->
  <!--
  <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[4]}}</h3>
    <article ng-animate="'animate'" ng-repeat="p in projects | filter: content | orderBy : 'Name' : false" class="cvArticle linkItem">
     <h4 class="cvArticleHeading">{{p.Name}}</h4>
         <p class="cvPar cvArticleText">{{p.Description[0 + Language]}}</p>
         <div class="divider"></div>
     <div ng-bind-html-unsafe="projects[p.Id].Html" class="projectBox" style="background: url('{{bricks.Url}}');"></div>
    </article>
    </div>
  <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[4]}}</h3>
    <article ng-animate="'animate'" ng-repeat="p in projects | filter: content | orderBy : 'Name' : false" class="cvArticle linkItem" onclick="showProject('{{p.Html}}','{{p.Css}}')">
     <h4 class="cvArticleHeading">{{p.Name}}</h4>
         <p class="cvPar cvArticleText">{{p.Description[0 + Language]}}</p>
         <div class="divider"></div>
    </article>
    </div>
  -->
  <!-- <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[5]}}</h3>
    <article ng-animate="'animate'" ng-repeat="c in cvText[0 + Language].Certificates | filter: content | orderBy : 'Ended' : true" class="cvArticle linkItem" onclick="getCertificateDetails('{{c.Name}}','{{c.Description}}','{{c.Details}}','{{c.Place}}','{{c.Ended}}','{{c.Icon}}','{{stuff[0 + Language].Headings[11]}}','{{stuff[0 + Language].Headings[9]}}','{{stuff[0 + Language].Headings[8]}}','{{stuff[0 + Language].Headings[10]}}')">
     <img class="pull-right" style="height: 60px;" src="{{c.Icon}}" alt="{{c.Name}}" title="{{c.Name}}" />
         <h4 class="cvArticleHeading">{{c.Name}}</h4>
         <h5 class="cvArticleSubHeading">{{c.Place}}</h5>
     <p class="cvPar cvArticleText">{{c.Description}}</p>
         <div class="divider"></div>
    </article>
    </div>

  <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[6]}}</h3>
         <div class="row">
               <div ng-animate="'animate'" ng-repeat="l in cvText[0 + Language].Languages | filter: content | orderBy : 'Name' : false"  class="col-sm-6 col-md-4 linkItem" onclick="getLanguageDetails('{{l.Name}}','{{l.Description}}','{{l.Details}}','{{l.Icon}}','{{stuff[0 + Language].Headings[12]}}','{{stuff[0 + Language].Headings[8]}}')">
                     <h4 class="cvArticleHeading">{{l.Name}}</h4>
                     <h5 class="cvArticleSubHeading">{{l.Description}}</h5>
               </div>
         </div>
    </div>
    <div class="cvBox">
    <h3 class="cvSectionHeading">{{stuff[0 + Language].Headings[7]}}</h3>
              <ul class="meritList">
                   <li ng-animate="'animate'" ng-repeat="i in cvText[0 + Language].Interests | filter: content | orderBy : 'Name' : false" onclick="getInterestDetails('{{i.Name}}','{{i.Description}}','{{i.Icon}}','{{stuff[0 + Language].Headings[8]}}')">{{i.Name}}</li>
             </ul>
    </div> -->
  </div>

</div>
