@-webkit-keyframes flowingSky {
  from { background-position: 100% 100%; }
  25% { background-position: 0% 0%; }
  55% { background-position: 0% 100%; }
  75% { background-position: 100% 0%; }
  to { background-position: 100% 100%; }
}

@keyframes flowingSky {
  from { background-position: 100% 100%; }
  25% { background-position: 0% 0%; }
  55% { background-position: 0% 100%; }
  75% { background-position: 100% 0%; }
  to { background-position: 100% 100%; }
}

.sky {
  background: url('/assets/images/textures/beige-paper.png'), url('/assets/images/VanillaSky.jpg');
  background-position: center center, left top;
  background-repeat: repeat, no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-animation : flowingSky 60s ease-in-out infinite; animation: flowingSky 60s ease-in-out infinite;
  }

.animPath {
  opacity: 0;
}

.sky svg {
	width: 100%;
	height: auto;
  max-height: 100%;
}

@media only screen and (min-width: 1024px) {
	.sky svg {
		width: 720px;
		margin-left: calc(50% - 360px);
		height: auto;
	}
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

path.animPath {
	fill: transparent;
}

@-webkit-keyframes toBlack {
  to {
	stroke: black;
	fill: orange;
  }
}

@keyframes toBlack {
  to {
	stroke: black;
	fill: orange;
  }
}

.hidden {
  opacity: 0;
}

#navigation {
  position: sticky;
  z-index: 4;
  bottom: 0;
  text-align: center;
}

      #navigation ul li {
          display: inline-block;
          padding-left: 2vw;
      }

          #navigation ul li a {
            font-size: 32px;
            text-shadow: 1px 1px 3px black, -1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
              text-decoration: none;
              color: orange;
      position: relative;
      bottom: 10px;
          }


          #navigation ul li a:hover {
            color: orangered;
          }
