@-webkit-keyframes flowingSky {
  from { background-position: 100% 100%; }
  25% { background-position: 0% 0%; }
  55% { background-position: 0% 100%; }
  75% { background-position: 100% 0%; }
  to { background-position: 100% 100%; }
}

@keyframes flowingSky {
  from { background-position: 100% 100%; }
  25% { background-position: 0% 0%; }
  55% { background-position: 0% 100%; }
  75% { background-position: 100% 0%; }
  to { background-position: 100% 100%; }
}

.sky {
  background: url('/assets/images/textures/beige-paper.png'), url('/assets/images/VanillaSky.jpg');
  background-position: center center, left top;
  background-repeat: repeat, no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  -webkit-animation : flowingSky 60s ease-in-out infinite; animation: flowingSky 60s ease-in-out infinite;

  .elevatorSpeech {
    text-align: center;
    font-size: 42px;
    color: orange;
    text-shadow: 1px 1px 3px black, -1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
    width: 100vw;
    height: auto;
    max-height: 90vh;
    overflow-y: auto;
    margin-top: 20px;
    padding: 20px;
  }
}

#navigation {
  position: fixed;
  z-index: 4;
  bottom: 0;
  left: calc(50% - 410px);
}

      #navigation ul li {
          display: inline-block;
          padding-left: 2vw;
      }

          #navigation ul li a {
            font-size: 32px;
            text-shadow: 1px 1px 3px black, -1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
              text-decoration: none;
              color: orange;
      position: relative;
      bottom: 10px;
          }


          #navigation ul li a:hover {
            color: orangered;
          }

          @media only screen and (max-width: 720px)  {

            #navigation {
              text-align: left;
            }
          }
