<div class="sky">
  <header id="streetBandit" class="mrBox mrBounceIn">
    <div class="streetOverlay">
        <h1 class="aqui mrsRed mrH1 mrTxtC mrMart2 mrNice" i18n>Henriks Portfolio</h1>
    </div>
    <div>
        <div class="road"></div>
        <img class="streetLeft"
             alt="Street Left"
             src="assets/images/StreetLeft.png"
        />
        <img class="streetRight"
             alt="Street Right"
             src="assets/images/StreetRight.png"
        />
        <img class="himSelf"
             alt="Ham Selv"
             src="assets/images/Himself.png"
        />
    </div>

  </header>
</div>
<nav id="navigation" class="mrH3 mrBounceInUp">
  <ul>
    <li class="mrShrink">
      <a routerLink="/home" i18n>Forside</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/about" i18n>Om mig</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/cv" i18n>CV</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/projects" i18n>Projekter</a>
    </li>
    <li class="mrShrink">
      <a routerLink="/contact"  i18n>Kontakt</a>
    </li>
  </ul>
</nav>
