<div class="sky">
  <div class="elevatorSpeech sherwood"></div>
  <nav id="navigation" class="sherwood">
    <ul>
      <li class="mrShrink">
        <a routerLink="/home" i18n>Forside</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/about" i18n>Om mig</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/cv" i18n>CV</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/projects" i18n>Projekter</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/contact"  i18n>Kontakt</a>
      </li>
      <li class="mrShrink">
        <app-language-selector style="position: relative; top: -4px"></app-language-selector>
      </li>
    </ul>
  </nav>
</div>
