<h1 id="tableLabel">Edit certificates</h1>

<p *ngIf="!certificates"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="certificates">
  <thead>
    <tr>
      <th>Enabled</th>
      <th>From</th>
      <th>To</th>
      <th>Image</th>
      <th>Edit translations</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificate of certificates">
      <td>
        <input type="checkbox" [(ngModel)]="certificate.enabledInWeb" (change)="changeCertificate(certificate)" />
      </td>
      <td>
        {{certificate.from | date : 'short'}}
      </td>
      <td>
        {{certificate.to | date : 'short'}}
      </td>
      <td>
        {{certificate.imageUrl}}
        <button type="button" class="btn btn-warning" (click)="uploadId = certificate.eId; fileUpload.click();">Upload</button>
      </td>
      <td>
        <!-- <div *ngFor="let translation of certificate.translations">
          {{translation?.language.name}}:  <input type="text" [(ngModel)]="translation.name" (blur)="changeCertificate(certificate)" />
        </div> -->
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success" (click)="addCertificate()">Add</button>
{{certificates | json}}
{{uploadId}}
<input #fileUpload type="file"  placeholder="Choose file" (change)="uploadFile(fileUpload.files)" style="display:none;">
