<h1 id="tableLabel">Edit certificates</h1>

<p *ngIf="!certificates"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="certificates">
  <thead>
    <tr>
      <th>Enabled</th>
      <th>From</th>
      <th>To</th>
      <th>Edit translations</th>
      <th>Image</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificate of certificates">
      <td>
        <input type="checkbox" [(ngModel)]="certificate.enabledInWeb" (change)="changeCertificate(certificate)" />
      </td>
      <td>
        {{certificate.from | date : 'short'}}
      </td>
      <td>
        {{certificate.to | date : 'short'}}
      </td>
      <td>
        <div *ngIf="certificate && certificate.translations">
          <div *ngFor="let translation of certificate.translations">
            <label>{{translation.language.name}}:</label><br/>
            <input type="text" placeholder="Name" [(ngModel)]="translation.name" (blur)="changeCertificate(certificate)" />
            <input type="text" placeholder="Description" [(ngModel)]="translation.description" (blur)="changeCertificate(certificate)" />
            <input type="text" placeholder="Place" [(ngModel)]="translation.place" (blur)="changeCertificate(certificate)" />
          </div>
        </div>
      </td>
      <td>
        {{certificate.imageUrl}}
        <button type="button" class="btn btn-warning" (click)="uploadId = certificate.eId; fileUpload.click();">Upload</button>
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteCertificate(certificate)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success" (click)="addCertificate()">Add</button>
<input #fileUpload type="file"  placeholder="Choose file" (change)="uploadFile(fileUpload.files)" style="display:none;">
