<div class="homelessTranslations">
  <span i18n>Til dagligt er jeg Henrik Beske, et helt almindeligt familiemenneske.</span>
  <span i18n>Men idet jeg tager afsted til arbejde, forvandler jeg mig til mrApptastic, en superheroisk webudvikler med gazelleblod fossende gennem blodbanerne.</span>
  <span i18n>Hej med jer!</span>
  <span i18n>Velkommen til mit portfolio.</span>
  <span i18n>Tag et kig eller to og ser jer lidt omkring.</span>
  <span i18n>Jeg er nemlig ikke ligesom de andre udviklere.</span>
</div>
