<div class="bgBox">
  <div class="mainBox">
    <p class="mrCenter">
        **** COMMODORE 64 BASIC V2 ****
    </p>
    <p class="mrCenter">
        64K RAM SYSTEM 230481 BASIC BYTES FREE
    </p>
    <p>
        READY.
    </p>
    <div class="typeBandit"></div>
    <!-- <div id="writeBox"></div>-->
    <div id="marker" ng-show="showMarker"></div>
  </div>
  <nav id="navigation" class="mrH3 hidden sherwood">
    <ul>
      <li class="mrShrink">
        <a routerLink="/home" i18n>Forside</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/about" i18n>Om mig</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/cv" i18n>CV</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/projects" i18n>Projekter</a>
      </li>
      <li class="mrShrink">
        <a routerLink="/contact"  i18n>Kontakt</a>
      </li>
    </ul>
  </nav>
</div>
