<div class="bgBox">
  <div class="mainBox">
    <p class="mrCenter">
        **** COMMODORE 64 BASIC V2 ****
    </p>
    <p class="mrCenter">
        64K RAM SYSTEM 230481 BASIC BYTES FREE
    </p>
    <p>
        READY.
    </p>
    <div class="css-typing">
      <p i18n>Jeg er en super heroisk webudvikler med gazelleblod flydende i mine årer. Er der mere man kan forlange?</p>
      <p i18n>Til dagligt er jeg Henrik Beske, familiefar.</p>
      <p i18n>Men når jeg tager arbejdstøjet på, så forvandler jeg mig til mrApptastic, en super heroisk webudvikler med gazelleblod flydende i årerne.</p>
    </div>
    <div id="writeBox"></div>
    <div id="marker" ng-show="showMarker"></div>
  </div>
</div>
