/* Fonts */
@font-face { 
	font-family: 'Ringbearer'; 
	src: url('../media/fonts/RINGM.woff') 
		format('woff'), 
		url('../media/fonts/RINGM..ttf') 
		format('truetype'); 
}

.ringbearer {
	font-family: 'Ringbearer'; 	
}

@font-face { 
	font-family: 'Aqui'; 
	src: url('../media/fonts/AquilineTwo.woff') 
		format('woff'), 
		url('../media/fonts/AquilineTwo.ttf') 
		format('truetype'); 
}

.aqui {
	font-family: 'Aqui'; 	
}

/* CSS Animations  */

@-webkit-keyframes backAndForth {
    from {background-position:left;}
    to {background-position:right;}
}

@keyframes backAndForth {
    from {background-position:left;}
    to {background-position:right;}
}

@-webkit-keyframes mrUha {
    0% { left: 0; transform: rotateZ(0deg); }
    5% { left: 2%; transform: rotateZ(-5deg); }
    10% { left: 4%; transform: rotateZ(0deg); }
    15% { left: 6%; transform: rotateZ(5deg); }
    20% { left: 8%; transform: rotateZ(0deg); }
    25% { left: 10%; transform: rotateZ(-5deg); }
    30% { left: 8%; transform: rotateZ(0deg); }
    35% { left: 6%; transform: rotateZ(5deg); }
    40% { left: 4%; transform: rotateZ(0deg); }
    45% { left: 2%; transform: rotateZ(-5deg); }
    50% { left: 0; transform: rotateZ(0deg); }
    55% { left: -2%; transform: rotateZ(5deg); }
    60% { left: -4%; transform: rotateZ(0deg); }
    65% { left: -6%; transform: rotateZ(-5deg); }
    70% { left: -8%; transform: rotateZ(0deg); }
    75% { left: -10%; transform: rotateZ(5deg); }
    80% { left: -8%; transform: rotateZ(0deg); }
    85% { left: -6%; transform: rotateZ(-5deg); }
    90% { left: -4%; transform: rotateZ(0deg); }
    95% { left: -2%; transform: rotateZ(5deg); }
    100% {left: 0; transform: rotateZ(0deg); }
}

@keyframes mrUha {
    0% { left: 0; transform: rotateZ(0deg); }
    5% { left: 2%; transform: rotateZ(-5deg); }
    10% { left: 4%; transform: rotateZ(0deg); }
    15% { left: 6%; transform: rotateZ(5deg); }
    20% { left: 8%; transform: rotateZ(0deg); }
    25% { left: 10%; transform: rotateZ(-5deg); }
    30% { left: 8%; transform: rotateZ(0deg); }
    35% { left: 6%; transform: rotateZ(5deg); }
    40% { left: 4%; transform: rotateZ(0deg); }
    45% { left: 2%; transform: rotateZ(-5deg); }
    50% { left: 0; transform: rotateZ(0deg); }
    55% { left: -2%; transform: rotateZ(5deg); }
    60% { left: -4%; transform: rotateZ(0deg); }
    65% { left: -6%; transform: rotateZ(-5deg); }
    70% { left: -8%; transform: rotateZ(0deg); }
    75% { left: -10%; transform: rotateZ(5deg); }
    80% { left: -8%; transform: rotateZ(0deg); }
    85% { left: -6%; transform: rotateZ(-5deg); }
    90% { left: -4%; transform: rotateZ(0deg); }
    95% { left: -2%; transform: rotateZ(5deg); }
    100% {left: 0; transform: rotateZ(0deg); }
}

/* Background */

body {
background: url("../media/images/Cloudy5.png") no-repeat center left, 
			url("../media/images/Cloudy4.png") no-repeat center left, 
			url("../media/images/Cloudy3.png") no-repeat center left, 
			url("../media/images/Cloudy2.png") no-repeat center left, 
			url("../media/images/Cloudy1.png") no-repeat center left,
			url("../media/images/smurfyblue.png");
 -webkit-animation: backAndForth 45s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation: backAndForth 30s;
 animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
background-attachment:fixed;
}

/* Street View */
#streetBandit .streetOverlay {
	position: absolute; 
	z-index: 1; 
	width: calc(100vw - 17px);
}

#streetBandit .road {
	background: linear-gradient(to right, 
		#fceabb 0%,
		#fccd4d 19%,
		#e86f47 50%,
		#f8b500 80%,
		#fbdf93 100%);
	bottom:0;
	margin-bottom:-2%;
	margin-left: -2%;
	position:absolute;
	height:40%;
	width:102%;
	z-index:-1;
}

#streetBandit .streetLeft {
	left:0;
	position:absolute;
	height:100%;
	width:auto;
	max-width:54.1%;
}

#streetBandit .streetRight {
	right:0;
	position:absolute;
	height:100%;
	width:auto;
	max-width:45.9%;
}

#streetBandit .himSelf {
	position:absolute;
	z-index: 1;
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0;
	top:40%;
	animation: mrUha 5s linear infinite;
 	-webkit-animation: mrUha 5s linear infinite;
}

/* Boxes */
#traditional {
	background: GhostWhite url('../media/images/textures/old-map.png');
}

#traditional h2 {
font-family: 'Aqui';
font-size: 3.5rem;
}

#traditional p {
font-family: 'Aqui';
font-size: 2.5rem;
}

#aboutMe {
background: Silver url('../media/images/textures/gravel.png');
}

#myBest {
background: BurlyWood url('../media/images/textures/wood-pattern.png');
}

#gallery {
background: OrangeRed url('../media/images/textures/brick-wall-dark.png');
}

#contactMe {
background: LemonChiffon url('../media/images/textures/beige-paper.png');
}

.theDiv {
  transition: all linear 0.5s;
  background-color: lightblue;
  height: 100px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.ng-hide {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

/*
body { 
	background: url("../media/images/NightLeft.png") no-repeat center left, url("../media/images/NightRight.png") no-repeat center right, black;
	background-attachment: fixed;
    background-size: 22% auto;
}
*/








/*
#nightStreet {
	background: url("../media/images/NightStreet.png") no-repeat bottom center;	
	background-size: auto 100%;	
}

#nightStreet h2 {
	margin-top: 20px;
}
*/

#navigation {
	position: -webkit-sticky;
	position: sticky; 
	margin-top: -10vh;
	top: 0;
}

	#navigation ul {
		
	}
	
		#navigation ul li {
			display: inline-block;
		}
		
			#navigation ul li a {
				
				text-decoration: none;
				color: gold;
			}