<section class="page-section" id="about">
  <div class="container">
      <div class="text-center">
          <h2 class="section-heading text-uppercase" i18n>Projekter</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
      </div>
      <ul *ngIf="projects?.length > 0" class="timeline">
          <li *ngFor="let project of projects; let i = index" [class]="i % 2 === 1 ? 'timeline-inverted' : ''">
              <div class="timeline-image"><img class="rounded-circle img-fluid" [src]="project?.imageUrl" alt="project?.name"></div>
              <div class="timeline-panel">
                  <div class="timeline-heading">
                      <h4>2009-2011</h4>
                      <h4 class="subheading">{{project?.name}}</h4>
                  </div>
                  <div class="timeline-body"><p class="text-muted" [innerHTML]="project?.description | html"></p></div>
              </div>
          </li>
      </ul>
  </div>
</section>
